.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    position: fixed;
    top: 35vh;
    height: 30vh;
    width: 90vw;
    color: white;
    background-color: black ;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
}

.loading-circle {
    border: 5px solid #ccc;
    border-top: 5px solid #333;
    border-radius: 50%;
    min-width: 50px;
    min-height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}